.container {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: 20% 30% 30%;
}

.one {
  width: 600px;
  height: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.two {
  width: 600px;
  height: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.three {
  width: 600px;
  height: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.four {
  width: 600px;
  height: 600px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 5;
}
